.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 700px;
}

.title {
  margin-bottom: 30px;
  margin-top: 40px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.spinner {
  width: 18px;
  height: 18px;
  border-top-color: #a1a1a1;
  border-left-color: #a1a1a1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;  
  display: inline-block;
  animation: spinner 1s linear infinite;
  margin-left: 20px;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form {
  background-color: #fefefe;
  padding: 0px 40px 40px 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 100px 0px rgba(34, 60, 80, 0.09);
  width: 400px;
}

.additionalRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .container {
    min-height: 100vh;
  }

  .form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 15px 15px 15px;
  }
}